<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fight.Tablero.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fight.Tablero.Properties.Settings>
            <setting name="TiempoCalcPuntaje" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CantVotosMin" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CantRounds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TiempoRound" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="TiempoDescanso" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="TiempoMedico" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="TiempoPuntoOro" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="PuntoOro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DifPuntos" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PuntuacionMax" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FaltasMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ValFalta" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ValPuntacionManual" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ValPuntoA" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ValPuntoB" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ValPuntoC" serializeAs="String">
                <value>3</value>
            </setting>
        </Fight.Tablero.Properties.Settings>
    </applicationSettings>
</configuration>